{{#homepage}}
<div id="#main" class="main">
  {{> molecules-overlay }}
  {{> organisms-header }}
  <div class="scene_element scene_element--fadein">
    {{> organisms-hero-banner}}  
    {{> organisms-slider}}
    {{> organisms-help}}
    {{> organisms-footer}}
  </div>
</div>
{{/homepage}}