{{#stroomengas}}
<div class="main scene_element scene_element--fadein">
<div class="c-bert" id="bertOverlay"></div>
{{> organisms-header }}
{{> organisms-hero-banner}}
<img src="../../images/e&g_desktop.png" alt="">
{{> organisms-footer}}
</div>
{{/stroomengas}}
