{{#inzichtenbesparen}}
<div class="main">
<div class="c-bert" id="bertOverlay"></div>
{{> organisms-header }}
{{> organisms-hero-banner}}
{{> organisms-slider}}
{{> molecules-text-block }}
{{> organisms-footer}}
</div>
{{/inzichtenbesparen}}
