<div id="main" class="container scene_element scene_element--fadein">
    <div class="container--gradient container--gradient-full"></div>
    <div class="container--header">
        <div class="o-layout o-layout--gutter-large">
            <div class="o-layout__cell o-layout__cell--fill">
                <div class="o-layout">
                    <div class="o-layout__cell o-layout__cell--fill">
                        <div class="container--header__logo">
                            <a href="{{link.pages-homepage}}"><img src="/images/logo.jpg" alt="Eneco"></a>
                        </div>
                    </div>
                    <div class="o-layout__cell o-layout__cell--fit">
                        <div class="container--header__totals">
                            <span class="container--header__totals-text">totaal</span>
                            <span class="container--header__totals-value">&euro; 
                                <span class="container--header__totals-price container--header__totals-price1">33,60</span>
                                <span class="container--header__totals-price container--header__totals-price2">115,20</span>
                                <span class="container--header__totals-price container--header__totals-price3">108,40</span>
                                <span class="container--header__totals-price container--header__totals-price4">111,90</span>
                            </span>
                            <sup class="container--header__totals-value-suffix">/mnd</sup>
                            <a href="#" class="c-icon c-icon--info c-icon--round c-icon--round-orange"></a>
                            <div class="container--header__totals-details">
                                <img src="/images/bonnetje.png"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="o-layout__cell o-layout__cell--fit">
                <div class="container--header__close">
                    <a href="{{link.pages-homepage}}">sluiten</a>
                </div>
            </div>          
        </div>
    </div>
    <div class="container--content">
        <div class="popup fs-form-wrap" id="fs-form-wrap">
            <form id="myform" class="fs-form fs-form-full" autocomplete="off">
                <ol class="fs-fields">
                    {{! <li>
                        {{> organisms-zipcode}}
                    </li> }}
                    <li>
                        {{> organisms-energyType}}
                    </li>
                    <li>
                        {{> organisms-energyUsage}}
                    </li>
                    <li>
                        {{> organisms-electricityUsage}}
                    </li>
                    {{! <li>
                        {{> organisms-electricityUsageEstimation}}
                    </li> }}
                    <li>
                        {{> organisms-gasUsage}}
                    </li>
                    <li>
                        {{> organisms-electricityOffer}}
                    </li>
                    <li>
                        {{> organisms-gasOffer}}
                    </li>
                    <li>
                        {{> organisms-duration}}
                    </li>
                    <li>
                        {{> organisms-upsell}}
                    </li>

                    <!-- PersonalDetails -->
                    <li>
                        {{> organisms-persoonsgevens}}
                    </li>
                    <!-- //PersonalDetails -->
                    <!-- PaymentDetails -->
                    <li>
                        {{> organisms-betalingsgegevens}}
                    </li>
                    <!-- //PaymentDetails -->


                </ol><!-- /fs-fields -->
            </form>

            <div class="o-windMill">
                <div class="o-windMill--top">
                    <object data="/images/wieken.svg" type="image/svg+xml"></object>
                </div>
                <div class="o-windMill--bottom">
                    <object data="/images/voet.svg" type="image/svg+xml"></object>
                </div>
            </div>
        </div>
    </div>
</div>