<div class="container container--gradient">
        <div class="popup fs-form-wrap" id="fs-form-wrap">
            <form id="myform" class="fs-form fs-form-full" autocomplete="off">
                <ol class="fs-fields">
                    <li>
                        {{> organisms-zipcode}}
                    </li>
                    <li>
                        {{> organisms-energyType}}
                    </li>
                    <li>
                        {{> organisms-energyUsage}}
                    </li>
                    <li>
                        {{> organisms-electricityUsage}}
                    </li>
                    <li>
                        {{> organisms-electricityUsageEstimation}}
                    </li>
                    <li>
                        {{> organisms-gasUsage}}
                    </li>
                    <li>
                        {{> organisms-electricityOffer}}
                    </li>
                    <li>
                        {{> organisms-gasOffer}}
                    </li>
                    <li>
                        {{> organisms-duration}}
                    </li>
                    <li>
                        {{> organisms-upsell}}
                    </li>

                    <!-- PersonalDetails -->
                    <li>
                        <h1>PersonalDetails</h1>
                    </li>
                    <!-- //PersonalDetails -->
                    <!-- PaymentDetails -->
                    <li>
                        <h1>PaymentDetails</h1>
                    </li>
                    <!-- //PaymentDetails -->
                </ol><!-- /fs-fields -->
            </form>
        </div>
    </div>