{{#toon}}
<div class="main">
{{> organisms-header }}
<div class="scene_element scene_element--fadein">
{{> molecules-stickynav-toon }}
<img src="../../images/toon_desktop.png" alt="">
</div>
{{> organisms-footer}}
</div>
{{/toon}}