{{#toon}}
<div class="main scene_element scene_element--fadein">
{{> organisms-header }}
{{> molecules-stickynav-toon }}
<img src="../../images/toon_desktop.png" alt="">
{{> organisms-footer}}
</div>
{{/toon}}