{{#warmtewinner}}
<div class="main">
  {{> organisms-header }}
  {{> molecules-stickynav}}
  {{> molecules-popup }}
  <img src="../../images/warmtewinner_header.png" alt="">
  {{> molecules-image-text-block}}
  {{> organisms-footer}}
</div>
{{/warmtewinner}}