{{#warmtewinner}}
<div class="main scene_element scene_element--fadein">
  {{> organisms-header }}
  <div class="scene_element scene_element--fadein">
  {{> molecules-stickynav}}
  {{> molecules-popup }}
  <img src="../../images/warmtewinner_header.png" alt="">
  {{> molecules-image-text-block}}
  </div>
  {{> organisms-footer}}
</div>
{{/warmtewinner}}