h1,
h2,
h3,
h4,
h5,
h6,
.u-heading {
  font-family: $font-family-secondary;
  @include blocss-rem(margin-bottom, $blocss-space-small);
  @include blocss-font-size($epsilon, false);
  line-height: 1.33;
  font-weight: 300;
  color: $white;

  > a {
    color: inherit;
    text-decoration: none;

    &:active,
    &:hover,
    &:focus {
      color: $brand-primary-b;
    }
  }
}


h1 {
  @include blocss-font-size($beta, false);
}

h2 {
  @include blocss-font-size($gamma, false);
}

h3 {
  @include blocss-font-size($delta, false);
}

h4 {
  @include blocss-font-size($epsilon, false);
}

h5 {
  @include blocss-font-size($epsilon, false);
}

h6 {
  @include blocss-font-size($zeta, false);
}

@font-face {
  font-family: 'EtelkaPro';
  src: url('../fonts/Etelka/etelka-light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}