<div class="">
    <div class="image--background">
        <img src="/images/08-Berekenen.jpg" />
    </div>

    <div class="o-congratz">
        <h4>Gefeliciteerd!</h4>
        <h1>We sluiten je energie<br/> nu aan bij Eneco!</h1>
        <ul class="c-list c-list__progress">
            <li>
                <i class="c-icon c-icon--check"></i> 
                <i class="c-icon c-icon--progress"></i> 
                EcoStroom 3 jaar
            </li>
            <li>
                <i class="c-icon c-icon--check"></i> 
                <i class="c-icon c-icon--progress"></i>
                EcoGas 3 jaar
            </li>
        </ul>
    </div>

    <a id="nextPage" href="{{ link.pages-egflowbedankt }}"></a>
</div>