<div id="stickynav" class="c-stickynav o-layout">
    <div class="o-layout__cell o-layout__cell--fill">
      <div class="o-layout">
        <div class="o-layout__cell o-layout__cell--fit">
          <img class="c-stickynav__logo" src="../../images/logo-WarmteWinner.svg" alt="">
        </div>
        <div class="o-layout__cell o-layout__cell--fit">
          <ul class="c-navigation__items">        
            <li><a href="#warmte_2" class="">Zo werkt het</a></li>
            <li><a href="#warmte_5" class="">Dit levert het op</a></li>
            <li><a href="#warmte_6" class="">Check je huis</a></li>
            <li><a href="#warmte_4" class="">Werkt samen met</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="hidden o-layout__cell o-layout__cell--fit">
      <a href="#warmte_1" class="c-button c-button--gradient">Inschrijven</a>
    </div>
</div>