<div id="stickynav" class="c-stickynav">
    <img class="c-stickynav__logo" src="../../images/warmtelogo.png" alt="">
    <ul class="c-navigation__items">        
      <li><a href="" class="">Zo werkt het</a></li>
      <li><a href="" class="">Dit levert het op</a></li>
      <li><a href="" class="">Check je huis</a></li>
    </ul>
</div>