<div id="stickynav" class="c-stickynav o-layout">
    <div class="o-layout__cell o-layout__cell--fill">
      <div class="o-layout">
        <div class="o-layout__cell o-layout__cell--fit">
          <img class="c-stickynav__logo c-stickynav__logo--toon" src="../../images/logo-toon.svg" alt="">
        </div>
        <div class="o-layout__cell o-layout__cell--fit">
          <ul class="c-navigation__items">        
            <li><a href="#toon_2" class="">Zo werkt het</a></li>
            <li><a href="#toon_3" class="">Werkt samen met</a></li>
            <li><a href="#toon_4" class="">Dit levert het op</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="hidden o-layout__cell o-layout__cell--fit">
      <a href="#toon_1" class="c-button c-button--gradient">Bereken maandbedrag</a>
    </div>
</div>