<div id="stickynav" class="c-stickynav">
    <img class="c-stickynav__logo c-stickynav__logo--toon" src="../../images/toonlogo.png" alt="">
    <ul class="c-navigation__items">        
      <li><a href="" class="">Zo werkt het</a></li>
      <li><a href="" class="">Werkt samen met</a></li>
      <li><a href="" class="">Dit levert het op</a></li>
    </ul>
</div>