@keyframes rotating {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.c-bert {
  width: 960px;
  background-image: linear-gradient(to right, #ff6c6c, #ff682f);
  position: absolute;
  bottom: 0;
  left: 0;

  .c-label {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
    text-align: left;
    color: #ffffff;
  }

  &__title {
    font-size: 30px;
    font-weight: bold;
    line-height: 1.33;
    letter-spacing: 0.2px;
    color: #ffffff;
  }

  &__inner {
    padding: 40px;
  }

  .loader {
    animation: rotating 2s linear infinite;
  }
}

#bertOverlay {
  width: 0;
  height: 0;
  position: absolute;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .loader {
    height: 40px;
    width: auto;
  }

  &.toon {
    background-image: linear-gradient(to top, #a9ccc6, #cde2d6);
  }

  &.warmte {
    background-image: linear-gradient(to bottom, #fdb49a, #ed8585);
  }
}
