.fs-fields {
  position: relative;
  margin: 0 auto;
  padding: 0;
  top: 0;
  list-style: none;
  > li {
    visibility: hidden;
    position: absolute;
    width: 100%;
    margin-top:20%;
    left: 70px;
  }
}
