.c-hero-banner {
  background-position: top right;
  background-repeat: no-repeat;
  height: calc(100vh - 100px);
  position: relative;

  h1 {
    font-size: 80px;
    font-weight: bold;
    color: #000000;
    padding-top: 160px;
    width: 640px;
    line-height: 1;
  }

  p {
    font-size: 17px;
    width: 445px;
  }
}
