.c-image-text-block {
  &__pre-header {
    font-size: 20px;
    line-height: 1.5;
    text-align: left;
    color: #1a171b;
  }

  &__header {
    font-size: 50px;
    font-weight: bold;
    line-height: 1.2;
    letter-spacing: 0.2px;
    text-align: left;
    color: #1a171b;
  }

  &__text {
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
    color: #484549;
  }
}

.c-text-block {
  h1 {
    font-size: 60px;
    font-weight: bold;
    line-height: 1.17;
    letter-spacing: 0.3px;
    color: #1a171b;
    margin-bottom: 30px;
  }

  p {
    width: 640px;
    font-size: 16px;
    line-height: 1.5;
    color: #686868;
    margin-bottom: 30px;    
  }
}
