.c-list__pdf {
  list-style: none;
  margin:0;

  li {
    padding: 20px 0 20px 40px;
    position: relative;

    &:before {
      content: "\e900";
      font-family: icons;
      font-size: 30px;
      color: $white;
      position: absolute;
      top:10px;
      left:0;
    }
  }

  a {
    color:$white;
  }
}

.c-list__progress {
  list-style: none;
  margin:0;

  .c-icon{
    position: absolute;
    display:none;
    left: 0;
    top: 22px;

    &:before{
      font-size:30px;

    }
  }

  li {
    padding: 20px 0 20px 40px;
    position: relative;
  }

  .finished {
    .c-icon--check {
      display:block;
    }

    .c-icon--progress {
      display:none;
    }
  }

  .active {
    .c-icon--check {
      display:none;
    }

    .c-icon--progress {
      display:block;
    }
  }
}
