<div class="fs-anim-lower">
    <h4>Je energie</h4>
    <h1>Weet je je energieverbruik?</h1>

    <div class="o-layout o-layout--gutter-tiny">
        <div class="o-layout__cell u-fraction--5of12">
            <div class="offer__item offer__item--primary fs-continue">
                <div class="offer-content">
                <div class="offer-box__subtitle">Aanbod op maat</div>
                <div class="offer-box__title">Ja dat weet ik</div>
                </div>
            </div>
        </div>
        <div class="o-layout__cell u-fraction--5of12">
            <div class="offer__item offer__item--primary">
                <div class="offer-content">
                <div class="offer-box__subtitle">Schatting op basis van adres</div>
                <div class="offer-box__title">Nee, dat weet ik niet</div>
                </div>
            </div>
        </div>
    </div>
</div>