
<div class="fs-anim-upper">
    <h4>Je adres</h4>
    <h1>Waar woon je?</h1>
    <div class="o-layout o-layout--gutter-large">
        <div class="o-layout__cell u-fraction--6of12">
            <div class="o-form__field">
                <label class="c-label" for="zipcode">Je postcode</label>
                <input class="c-input-text" type="text" id="zipcode" name="zipcode" placeholder="0000AA" />
            </div>
        </div>
        <div class="o-layout__cell u-fraction--3of12">
            <div class="o-form__field">
                <label class="c-label" for="housenr">Huisnummer</label>
                <input class="c-input-text " type="text" id="housenr" name="housenr" />
            </div>
        </div>
        <div class="o-layout__cell u-fraction--3of12">
            <div class="o-form__field">
                <label class="c-label" for="housenrAddition">Toev.</label>
                <input class="c-input-text" type="text" id="housenrAddition" name="housenrAddition" />
            </div>
        </div>
    </div>
    <div class="o-layout u-mt--large">
        <div class="o-layout__cell">
            <div class="o-form__field">
                <button class="c-button fs-continue">Kies je energie</button>
            </div>
        </div>
    </div>
</div>