<div class="fs-anim-lower">
    <h4>Je energie</h4>
    <h1>Welke energie wil je?</h1>

    <div class="o-layout o-layout--gutter-tiny">
        <div class="o-layout__cell u-fraction--4of12">
            <div class="offer__item fs-continue">
                <div class="offer-content">
                <div class="offer-box__subtitle">Voordelig samen</div>
                <div class="offer-box__title">Stroom &amp; Gas</div>
                </div>
            </div>
        </div>
        <div class="o-layout__cell u-fraction--4of12">
            <div class="offer__item">
                <div class="offer-content">
                <div class="offer-box__subtitle">Alleen</div>
                <div class="offer-box__title">Stroom</div>
                </div>
            </div>
        </div>
        <div class="o-layout__cell u-fraction--4of12">
            <div class="offer__item">
                <div class="offer-content">
                <div class="offer-box__subtitle">Alleen</div>
                <div class="offer-box__title">Gas</div>
                </div>
            </div>
        </div>
    </div>
</div>