<div class="fs-anim-lower">
    <h4>Je energie</h4>
    <h1>Hoe woon je?</h1>

    <div class="o-layout">
        <div class="o-layout__cell ">
            <label class="c-label" for="houseType">Soort huis</label>
            <select class="c-select">
                <option value="appartement">Appartement</option>
            </select>
        </div>
        <div class="o-layout__cell u-mt--small">
            <label class="c-label" for="yearOfConstruction">Bouwjaar</label>
            <select class="c-select">
                <option value="2011 of later">2011 of later</option>
            </select>
        </div>
        <div class="o-layout__cell u-mt--small">
            <label class="c-label" for="numberOfPersons">Aantal personen</label>
            <select class="c-select">
                <option value="2 personen">2 personen</option>
            </select>
        </div>
    </div>
    
    <div class="o-layout o-layout--gutter-large u-mt--large">
        <div class="o-layout__cell u-fraction-auto">
            <div class="c-checkbox">
                <input type="checkbox" id="doubleMeter" name="doubleMeter" value="doubleMeter">
                <label for="doubleMeter">Ik heb een dubbele meter</label>
            </div>
        </div>
        <div class="o-layout__cell u-fraction-auto">
            <div class="c-checkbox">
                <input type="checkbox" id="sunPanels" name="sunPanels" value="sunPanels">
                <label for="sunPanels">Ik heb zonnepanelen</label>
            </div>
        </div>
    </div>

    <div class="c-notification u-mt--large">
        <p>We schatten je verbruik aan stroom op 2366 k@h en gs op 773 m3</p>
    </div>
    
    <div class="o-layout u-mt--large">
        <div class="o-layout__cell">
            <div class="o-form__field">
                <button class="c-button fs-continue">Bereken aanbod</button>
            </div>
        </div>
    </div>
</div>