<div class="fs-anim-lower">
    <h4>Je energie</h4>
    <h1>Wat is je gasverbruik?</h1>
    <label class="c-label" for="monthlyGasUsage">Verbruik per maand</label>

    <div class="o-layout">
        <div className="o-layout__cell  o-layout__cell--fill">
            <input type="number" class="c-input-text" id="monthlyGasUsage" name="monthlyGasUsage" placeholder="0" />
        </div>
        <div className="o-layout__cell  o-layout__cell--fit">
            <div class="c-input-text--postfix">
                <span>m2</span>
            </div>
        </div>
    </div>

    <div class="o-layout u-mt--large">
        <div class="o-layout__cell">
            <div class="o-form__field">
                <button class="c-button fs-continue">Bereken aanbod</button>
            </div>
        </div>
    </div>
</div>