<div class="fs-anim-lower">
    <h4>Ons aanbod</h4>
    <h1>Aanbod stroom</h1>

    <p>Dit aanbod is berekend met een verbruik van 2946 kWh. Onze stroom is altijd groen maar jij hebt de keuze waarvandaan.</p>

    <div class="o-layout o-layout--gutter-large fs-form--wide">
        <div class="o-layout__cell u-fraction--6of12">
            <div class="offer__item offer__item--secondary">
                <div class="offer-header">
                    <h2 class="offer-header__title">
                        Groene stroom uit Europa
                    </h2>
                </div>
        
                <div class="offer-content">
                    <div class="offer-content__description">
                        Voornamelijk gewonnen uit wind en een beetje zon uit Europa. Wij noemen dit EcoStroom.
                    </div>
                    <div class="o-layout o-layout--gutter-small o-layout--align-bottom">
                        <div class="o-layout__cell u-fraction--6of12">
                            <div class="offer-content__price">
                                € 30,- <sup>/mnd</sup>
                            </div>
                        </div>
                        <div class="o-layout__cell u-fraction--6of12">
                            <div class="offer-content__yearprice">
                                € 360,- per jaar
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="o-layout__cell u-fraction--6of12">
            <div class="offer__item offer__item--secondary fs-continue">
                <div class="offer-header">
                    <h2 class="offer-header__title">
                        Groene stroom uit Nederland
                        <span class="offer-header__status">Nog groener</span>
                    </h2>
                </div>
        
                <div class="offer-content">
                    <div class="offer-content__description">
                        Lokaal efficiënter opgewekte stroom uit wind. Wij noemen dit HollandseWind.
                    </div>
                    <div class="o-layout o-layout--gutter-small o-layout--align-bottom">
                        <div class="o-layout__cell u-fraction--6of12">
                            <div class="offer-content__price">
                                € 30,80 <sup>/mnd</sup>
                            </div>
                        </div>
                        <div class="o-layout__cell u-fraction--6of12">
                            <div class="offer-content__yearprice">
                                € 369,60- per jaar
                            </div>
                        </div>
                    </div>
                </div>
            </div>   
        </div>
    </div>
    <p class="p--small u-mt--large"><i>Energieprijzen zijn berekend op basis van het door u opgegeven verbruik Op basis hiervan schat Eneco mijn verbruik aan stroom op 1586 kWh en daltarief aan stroom op1480 kWh.</i><a href="#" class="u-ml--small icon-info--round"></a></p>
</div>