<div class="fs-anim-lower">
    <h4>Onze extra's</h4>
    <h1>Bespaar nog meer</h1>
    <p>Zeker weten dat je goed zit? Bespaar energie met Toon, of houd je ketel tiptop in orde met KetelComfort.</p>

    <div class="o-layout o-layout--gutter-small fs-form--wide">
        <div class="o-layout__cell u-fraction--5of12">
            <div class="offer__item offer__item--secondary js-offerItem">
                <div class="offer-header-image">
                    <div class="offer-header-image__checkbox">
                    </div>
                    <h2 class="offer-header-image__title">
                        Ketelcomfort
                    </h2>
                    <div class="offer-header-image__image">
                        <img src="/images/KetelComfort.png">
                    </div>
                </div>
        
                <div class="offer-content">
                    <div class="offer-content__description">
                        Om het jaar verzekerd van onderhoud door een Eneco monteur. <a href="#" class="ketelComfortPopup">Meer info</a>
                    </div>
                    <div class="o-layout o-layout--align-bottom u-mt--small">
                        <div class="o-layout__cell">
                            <div class="offer-content__price">
                                € 8,95 <sup>/mnd</sup>
                            </div>
                        </div>
                        <div class="o-layout__cell">
                            <div class="offer-content__yearprice">
                                € 107,- per jaar
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="o-layout__cell u-fraction--5of12">
            <div class="offer__item offer__item--secondary js-offerItem">
                <div class="offer-header-image">
                    <div class="offer-header-image__checkbox">
                    </div>
                    <h2 class="offer-header-image__title">
                        Toon Thermostaat
                    </h2>
                    <div class="offer-header-image__image">
                        <img src="/images/Toon.png">
                    </div>
                </div>
        
                <div class="offer-content">
                    <div class="offer-content__description">
                        Om het jaar verzekerd van onderhoud door een Eneco monteur. <a href="#" class="ketelComfortPopup">Meer info</a>
                    </div>
                    <div class="o-layout o-layout--align-bottom u-mt--small">
                        <div class="o-layout__cell">
                            <div class="offer-content__price">
                                € 3,50 <sup>/mnd</sup>
                            </div>
                        </div>
                        <div class="o-layout__cell">
                            <div class="offer-content__yearprice">
                                € 42,- per jaar
                            </div>
                        </div>
                    </div>
                </div>
            </div>   
        </div>
    </div>

    <div class="o-layout u-mt--large">
        <div class="o-layout__cell">
            <div class="o-form__field">
                <button class="c-button fs-continue">Vul je gegevens in</button>
            </div>
        </div>
    </div>

    <img src="../../images/close.png" class="close"></img>
    <div id="popup">
        <div id="popup_content">
            <img src="../../images/zowerkthet.png">    
        </div>
    </div>
    <div id="overlay"></div>
</div>