<div class="fs-anim-lower">
    <h4>Je energie</h4>
    <h1>Persoonsgegevens</h1>
    
    <div class="o-form__field">
        <label class="c-label" for="firstName">Voorletters</label>
        <input class="c-input-text" type="text" id="firstName" name="firstName" />
    </div>
    <div class="o-form__field u-mt--small">
        <label class="c-label" for="prefix">Tussenvoegsel</label>
        <input class="c-input-text" type="text" id="prefix" name="prefix" />
    </div>
    <div class="o-form__field u-mt--small">
        <label class="c-label" for="lastName">Achternaam</label>
        <input class="c-input-text" type="text" id="lastName" name="lastName" />
    </div>
    <div class="o-form__field u-mt--small">
        <label class="c-label" for="birthDay">Geboortedatum</label>
        <input class="c-input-text" type="text" id="birthDay" name="birthDay" />
    </div>
    <div class="o-form__field u-mt--small">
        <label class="c-label" for="mobilePhone">Telefoonnummer (mobiel)</label>
        <input class="c-input-text" type="number" id="mobilePhone" name="mobilePhone" />
    </div>

    <div class="o-form__field u-mt--small">
        <label class="c-label" for="email">Emailadres</label>
        <input class="c-input-text" type="email" id="email" name="email" />
    </div>

    <div class="o-form__field u-mt--small">
        <label class="c-label" for="repeatEmail">Herhaal emailadres</label>
        <input class="c-input-text" type="email" id="repeatEmail" name="repeatEmail" />
    </div>

    <div class="o-form__field u-mt--small">
        <label class="c-label">Ben je al klant van Eneco?</label>
        <div class="o-layout u-mt--small u-mb--small o-layout--gutter-large">
            <div class="o-layout__cell u-fraction-auto">
                <div class="c-radio">
                    <input type="radio" id="knownCustomer" name="customer" value="y">
                    <label for="knownCustomer">Ja</label>
                </div>
            </div>
            <div class="o-layout__cell u-fraction-auto">
                <div class="c-radio">
                    <input type="radio" id="unknownCustomer" name="customer" value="n">
                    <label for="unknownCustomer">Nee</label>
                </div>
            </div>
        </div>
    </div> 

    <div class="o-form__field u-mt--small">
        <label class="c-label">Ben je al klant van Eneco?</label>
        <div class="o-layout u-mt--small u-mb--small o-layout--gutter-large">
            <div class="o-layout__cell u-fraction-auto">
                <div class="c-radio">
                    <input type="radio" id="knownCustomer" name="customer" value="y">
                    <label for="knownCustomer">Ja</label>
                </div>
            </div>
            <div class="o-layout__cell u-fraction-auto">
                <div class="c-radio">
                    <input type="radio" id="unknownCustomer" name="customer" value="n">
                    <label for="unknownCustomer">Nee</label>
                </div>
            </div>
        </div>
    </div> 

    <div class="o-form__field u-mt--small">
        <label class="c-label" for="zipCode">Postcode</label>
        <input class="c-input-text" type="text" id="zipCode" name="zipCode" placeholder="0000AA" />
    </div>

    <div class="o-form__field u-mt--small">
        <label class="c-label" for="houseNumberAndAddition">Huisnummer + toevoeging</label>
        <input class="c-input-text" type="text" id="houseNumberAndAddition" name="houseNumberAndAddition" />
    </div>

    <div class="o-form__field u-mt--small">
        <label class="c-label" for="street">Straatnaam</label>
        <input class="c-input-text" type="text" id="street" name="street" />
    </div>

    <div class="o-form__field u-mt--small">
        <label class="c-label" for="city">Woonplaats</label>
        <input class="c-input-text" type="text" id="city" name="city" />
    </div>

    <div class="o-form__field u-mt--small">
        <label class="c-label">Is je leveringsadres bestemd om te wonen, te werken of heeft het een andere verblijfsfunctie?</label>
        <div class="o-layout u-mt--small u-mb--small o-layout--gutter-large">
            <div class="o-layout__cell u-fraction-auto">
                <div class="c-radio">
                    <input type="radio" id="knownCustomer" name="customer" value="y">
                    <label for="knownCustomer">Ja</label>
                </div>
            </div>
            <div class="o-layout__cell u-fraction-auto">
                <div class="c-radio">
                    <input type="radio" id="unknownCustomer" name="customer" value="n">
                    <label for="unknownCustomer">Nee</label>
                </div>
            </div>
        </div>
    </div>

    <div class="o-layout u-mt--large">
        <div class="o-layout__cell">
            <div class="o-form__field">
                <button class="c-button fs-continue">Naar betaalgegevens</button>
            </div>
        </div>
    </div>
</div>