{{#stroomengas}}
<div id="main" class="main">
{{> molecules-overlay }}
{{> organisms-header }}
  <div class="scene_element scene_element--fadein">
    {{> organisms-hero-banner}}
    <img src="../../images/e&g_desktop.png" alt="">
    {{> organisms-footer}}
  </div>
</div>
{{/stroomengas}}
