{{#inzichtenbesparen}}
<div id="#main" class="main">
  {{> molecules-overlay }}
  {{> organisms-header }}
  <div class="scene_element scene_element--fadein">
    {{> organisms-hero-banner}}
    {{> organisms-slider}}
    {{> molecules-text-block }}
  </div>
</div>
{{/inzichtenbesparen}}