html {
  font-family: $font-family-primary;
  color: $black;
  background-color: $black;
}

body {
  margin: 0;
  width: 1366px;
  background-color: $white;
}

section {
  margin-left: 140px;
  margin-bottom: 110px;
}

footer {
  margin-left: 140px;
}
