html {
  font-family: $font-family-primary;
  color: $black;
  background-color: $white;
}

body {
  margin: 0;
  width: 1366px;
}

section {
  margin-left: 140px;
  margin-bottom: 110px;
}

footer {
  margin-left: 140px;
}

html,
body,
.container {
  height:100%;
}

.container--gradient {
  background: $red; /* For browsers that do not support gradients */
  background: linear-gradient(to right, $red, $orange); /* Standard syntax */
}
