{{#hero-banner}}
<section id="c-hero-banner" class="c-hero-banner">
    <div class="o-layout">
        <div class="o-layout__cell">
            <div class="c-hero-banner__text">
                <h1>{{{title}}}</h1>
                <p>{{{text}}}</p>
            </div>
        </div>
        <div class="o-layout__cell">
            {{> molecules-bert}}
        </div>
    </div>
</section>
<style>
    #c-hero-banner {
        background-image: url("{{{image-url}}}");
    }
</style>
{{/hero-banner}}