<section class="c-hero-banner">
    <div class="o-layout">
        <div class="o-layout__cell">
            <div class="c-hero-banner__text">
                <h1>Voel je thuis in de nieuwe wereld</h1>
                <p>Positieve energie. Nu uit groene stroom en gas, straks uit zelfopgewekte elektriciteit en warmte. Samen zetten we die meter op nul. Doe je mee?</p>
            </div>
        </div>
        <div class="o-layout__cell">
            {{> molecules-bert}}
        </div>
    </div>
</section>