{{#slider}}
<section class="c-slider">
  <h2>{{{title}}}</h2>
  <div class="c-slider__holder">
    <div class="c-slider__filter o-layout o-layout--gutter-small">  
    {{^hide-filter}}
      <div class="o-layout__cell o-layout__cell--fit"><a id="vandaag" class="c-link c-link--underlined c-link--active">Producten van vandaag</a></div>
      <div class="o-layout__cell o-layout__cell--fit">of</div>
      <div class="o-layout__cell o-layout__cell--fit"><a id="morgen" class="c-link c-link--underlined">van morgen</a></div>
    {{/hide-filter}}
    {{#hide-filter}}
      <div class="o-layout__cell o-layout__cell--fit"><a id="zelf" class="c-link c-link--underlined c-link--active">Zelf opwekken</a></div>
      <div class="o-layout__cell o-layout__cell--fit">,</div>
      <div class="o-layout__cell o-layout__cell--fit"><a id="samen" class="c-link c-link--underlined">samen opwekken</a></div>
      <div class="o-layout__cell o-layout__cell--fit">of</div>
      <div class="o-layout__cell o-layout__cell--fit"><a id="opslaan" class="c-link c-link--underlined">opslaan</a></div>      
    {{/hide-filter}}
    </div>
    <div class="c-slider__content dragscroll">
        <div class="c-slider__inner">
          {{#vandaag}}
          <div class="c-slider__item item_vandaag"><a class="c-slider__link" href="{{link.pages-toon}}" data-type="toon"><img src="../../images/product2.png"></div></a>
          <div class="c-slider__item item_vandaag"><img src="../../images/product1.png"></div>
          <div class="c-slider__item item_vandaag"><img src="../../images/product3.png"></div>
          <div class="c-slider__item item_vandaag"><img src="../../images/product4.png"></div>
          <div class="c-slider__item item_vandaag"><img src="../../images/product4b.png"></div>
          {{/vandaag}}
          {{#morgen}}
          <div class="c-slider__item item_morgen"><a class="c-slider__link" href="{{link.pages-warmtewinner}}" data-type="warmte"><img src="../../images/product5.png"></div></a>
          <div class="c-slider__item item_morgen"><img src="../../images/product6.png"></div>
          <div class="c-slider__item item_morgen"><img src="../../images/product7.png"></div>
          <div class="c-slider__item item_morgen"><img src="../../images/product8.png"></div>
          {{/morgen}}
        </div>
    </div>
    <div class="c-slider__controls  o-layout">
      <div class="o-layout__cell o-layout__cell--fill">
        <button class="c-button c-button--gradient">Bekijk alle energieproducten</button>
      </div>
      <div class="o-layout__cell o-layout__cell--fill">
        <div class="o-layout o-layout--gutter o-layout--align-right">
          <div class="o-layout__cell  o-layout__cell--fit"><span class="c-slider__indicator"><div class="c-slider__indicator__inner" style="width: 89.7514px;"></div></span></div>
          <div class="o-layout__cell  o-layout__cell--fit"><img src="../../images/arrow_left.png" class="c-slider__arrow arrow_left" style="opacity: 0.2; cursor: default;"></div>
          <div class="o-layout__cell  o-layout__cell--fit"><img src="../../images/arrow_right.png" class="c-slider__arrow arrow_right" style="opacity: 1; cursor: pointer;"></div>
        </div>
      </div>
    </div>
  </div>
</section>
{{/slider}}
