<section class="c-slider">
  <h2>Slimme Energie</h2>
  <div class="c-slider__holder">
    <div class="c-slider__filter o-layout o-layout--gutter-small">
      <div class="o-layout__cell o-layout__cell--fit"><a id="vandaag" class="c-link c-link--underlined c-link--active">Producten van vandaag</a></div>
      <div class="o-layout__cell o-layout__cell--fit">of</div>
      <div class="o-layout__cell o-layout__cell--fit"><a id="morgen" class="c-link c-link--underlined">van morgen</a></div>
    </div>
    <div class="c-slider__content dragscroll">
        <div class="slider_inner" style="width: 2200px;">
          <div class="c-slider__item item_vandaag" style="width: 440px; opacity: 1;"><img src="../../images/product2.png"></div>
          <div class="c-slider__item item_vandaag" style="width: 440px; opacity: 1;"><img src="../../images/product1.png"></div>
          <div class="c-slider__item item_vandaag" style="width: 440px; opacity: 1;"><img src="../../images/product3.png"></div>
          <div class="c-slider__item item_vandaag" style="width: 440px; opacity: 1;"><img src="../../images/product4.png"></div>
          <div class="c-slider__item item_vandaag" style="width: 440px; opacity: 1;"><img src="../../images/product4b.png"></div>
          <div class="c-slider__item item_morgen" style="width: 0px; opacity: 0;"><img src="../../images/product5.png"></div>
          <div class="c-slider__item item_morgen" style="width: 0px; opacity: 0;"><img src="../../images/product6.png"></div>
          <div class="c-slider__item item_morgen" style="width: 0px; opacity: 0;"><img src="../../images/product7.png"></div>
          <!--<div class="c-slider__item item_morgen"><img src="product8.png"></div>-->
          <div class="clear"></div>
        </div>
    </div>
    <div class="c-slider__controls  o-layout">
      <div class="o-layout__cell o-layout__cell--fill">
        Bekijk alle energieproducten
      </div>
      <div class="o-layout__cell o-layout__cell--fill">
        <div class="o-layout o-layout--gutter o-layout--align-right">
          <div class="o-layout__cell  o-layout__cell--fit"><span class="c-slider__indicator"><div class="c-slider__indicator__inner" style="width: 89.7514px;"></div></span></div>
          <div class="o-layout__cell  o-layout__cell--fit"><img src="../../images/arrow_left.png" class="c-slider__arrow" style="opacity: 0.2; cursor: default;"></div>
          <div class="o-layout__cell  o-layout__cell--fit"><img src="../../images/arrow_right.png" class="c-slider__arrow" style="opacity: 1; cursor: pointer;"></div>
        </div>
      </div>
    </div>
  </div>
</section>